@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
$Blue: hsl(223, 87%, 63%);
$Pale-Blue: hsl(223, 100%, 88%);
$Light-Red: hsl(354, 100%, 66%);
$Gray: hsl(0, 0%, 59%);
$Very-Dark-Blue: hsl(209, 33%, 12%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin";
}

body {
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  padding: 40px 30px 30px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 6px 8px 14px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 70px;
  height: auto;
  margin-bottom: 40px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.title {
  font-size: 20px;
  font-weight: 300;
  color: $Gray;
  margin-bottom: 15px;

  strong {
    color: #000;
  }
}

.text {
  font-size: 15px;
  color: $Very-Dark-Blue;
  margin-bottom: 30px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;

  .error {
    position: absolute;
    left: 15px;
    top: 50px;
    color: $Light-Red;
    font-size: 13px;
    font-style: italic;
    opacity: 0;
  }
  .email {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border: 1px solid $Pale-Blue;
    border-radius: 20px;
    margin-bottom: 15px;

    &:focus {
      outline: none;
      border: 1px solid $Blue;
    }
  }

  .btn {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background: $Blue;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 2px 8px hsla(223, 87%, 63%, 0.7);
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 2px 10px hsla(223, 87%, 63%, 0.9);
    }
  }
}

.img {
  width: 90%;
  height: auto;
  margin-top: 60px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.social {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 20px;
  width: 50%;

  &-icon {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    color: $Blue;
    border: 1px solid $Pale-Blue;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: $Blue;
      color: #fff;
    }
  }
}

footer {
  text-align: center;
  margin: 50px;
}

@media (min-width: 618px) {
  .container {
    max-width: 816px;
    width: 100%;
  }

  .form {
    flex-direction: row;
    justify-content: space-between;

    .email {
      width: 62%;
    }
    .btn {
      width: 37%;
    }
  }
}
